@import "susy";
@import "variables";
//@import 'component/component';
@import 'component/preloader';
$susy: (
        columns: 12,  // The number of columns in your grid
        gutters: 1/4, // The size of a gutter in relation to a single column
);
html {
  -webkit-text-size-adjust: none;
}
html, body {
  height: 96%;
}
body {
  min-width: 320px;
  font-family: 'Comfortaa', cursive;
  background: image-url('fon5.jpg') repeat #ebebeb;
  color: $content_color;
  a { 
    color: $link_content;
    text-decoration: none;
    &:hover{
      color: $link_content_hover;
    }
  }
}

.green {
  //color: $green;
  td {
    border-color: $blue_opacity !important;
  }
}
h2 {
  text-align: center;
  &.head_table {
    margin-bottom: 15px;
  }
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
header {
  margin-bottom: 1px;
  .header_inner {
    float: left;
    width: 240px;
    a {
      color: $content_color;
    }
    img {
      width: 82px;
      float: left;
      margin-left: 5px;
    }
    h1 {
      text-align: center;
      font-family: 'Lobster', cursive;
      letter-spacing: 2px;
      width: 142px;
      line-height: 1.3;
      float: left;
      margin-top: 16px;
      margin-left: 6px;
      span {
        font-family: 'Alice', serif;
        font-size: 16px;
        letter-spacing: 0px;
        display: inline-block;
      }
    }
  }
  h2 {
    float: right;
    font-family: 'Alice', serif;
    font-size: 33px;
    margin-right: 20%;
    margin-top: 37px;
    font-weight: 400;
  }
}
.link_wrapper {
  width: 456px;
  margin: 0 auto;
  margin-bottom: 50px;
  a:hover {
    color: $red;
  }
  .forgotten {
    text-align: center;
    display: inherit;
    margin-top: 30px;
  }
  &.edit{
    .register_wrapper {
      margin-top: 15%;
    }
  }
}

footer {
  border-top: 2px solid $divider;
  margin-top: 35px;
  padding-top: 20px;
  .content_inner {
    a {
      display: block;
      margin-top: 10px;
      color: $content_color;
      &:hover {
        color: $link_content;
      }
    }
  }
  .item {
    @include span(6);
    &:nth-child(2){
      @include span(6 last);
    }
  }
  .social_link {
    text-align: center;
    .icon_menu {
      display: inline-block;
      text-align: center;
      margin-bottom: 20px;
      font-family: 'fontello';
      font-size: 50px;
      color: $content_color;
      cursor: pointer;
      &:nth-child(-n+2) {
        margin-right: 50px;
      }
      &.vk {
        font-size: 45px;
      }
      @include my_animation(.3s);
      &:hover {
        color: $link_content;
      }
    }
  }
}

.person_wrapper {
  @include container;
  background: $white;
  //margin-bottom: 2%;
  border-radius: 3px;
  min-height: 100%;
  border: 5px solid;
  padding: 52px;
  padding-top: 20px;
  box-shadow: 0 0 99px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 99px rgba(0, 0, 0, 0.5);
  &.teacher {
    min-width: 700px;
    .back_index {
      text-align: center;
      display: block;
      margin-top: 20px;
    }
  }
}
.bottom_block {
  height: 30px;
}
#notice_wrapper {
  position: fixed;
  width: 100%;
  top: 30px;
  text-align: center;
  left: 0;
  display: none;
  #notice_inner {
    display: inline-block;
    padding: 13px;
    border: 3px solid;
    border-radius: 3px;
    font-weight: 700;
    font-size: 18px;
  }
}
.notice_blue {
  background: #f0ffe9;
  color: #72e876

}
.notice_red {
  background: #fff7f7;
  color: $error;
}
.errors {
  color: $error;
}
.message_wrapper {
  text-align: center;
  padding: 20px 5px;
  margin-top: 20px;
  h3 {
    margin-top: 0;
  }
  a {
    color: $error;
    display: block;
    font-weight: 700;
    margin-top: 10px;
  }
}
.main_menu {
  width: 100%;
  border-bottom:  2px solid $divider;
  border-top:  2px solid $divider;
  a {
    font-weight: 700;
    &:hover {
      color: $link_content;
    }
  }
  ul {
    text-align: center;
    padding-left: 0;
  }
  li {
    display: inline-block;

    &:nth-last-child(1) {
      margin-right: 0;
    }
  }
}

// avatar
.avatar_wrapper {
  position: relative;
  overflow: hidden;
  .avatar {
    width: 100%;
    float: left;
    margin-right: 40px;
  }
  .img_box {
    background: $content_color;
    width: 75%;
    border-radius: 10px;
    border: 4px solid;
    overflow: hidden;
    margin-right: 20px;
  }
  .label_file {
    font-size: 16px;
    border: 2px solid $link_content;
    padding: 5px;
    background: $white;
    color: $link_content;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
  }
  #user_avatar  {
    position:absolute;
    top:0;
    right:0;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
    opacity: 0;
    font-size: 150px;
    height: 32px;
    z-index:20;
    cursor: pointer;
  }
  .field_file {
    position: relative;
    height: 32px;
    overflow: hidden;
    margin-top: 20px;
    display: inline-block;
  }
  .back {
    display: inline-block;
    margin-top: 40px;
  }
  .actions {
    text-align: center;
    input[type="submit"] {
      border: 2px solid $link_content;
      padding: 5px;
      background: $white;
      color: $link_content;
      outline: none;
      border-radius: 3px;
      cursor: pointer;
      display: inline-block;
      text-align: center;
      font-size: 16px;
      margin-top: 10px;
    }
  }


}
.history_list {
  .head {
    text-align: center;
    font-size: 19px;
  }
}
.time_teacher,
.write_table,
.history_list,
.ready_user,
.write_user,
.subscription,
.active_user,
.cache_family {
  border-spacing: 5px;
  width: 88%;
  margin: 0 auto;
  @include my_animation (0.3);
  table {width: 100%}
  .date_table {
    td {
      border: none;
      padding-top: 10px;
      font-size: 18px;
      font-weight: 700;
    }
    color:$link_content;
  }
  td {
    border: 2px solid $divider;
    padding: 5px;
    text-align: center;
    border-radius: 3px;
  }
}
.entry_lesson {
  &.divider {
    border-bottom: 2px solid $divider;
    padding-bottom: 20px;
  }
  h2 {
    margin-bottom: 0;
  }
}
.write_table,
.history_list {
  td {
    border-color: $blue_opacity;
    span {
      display: inline-block;
      padding-right: 5px;
      &:nth-child(2) {
        padding-right: 0;
      }
    }
  }
}
.data_user_list {
  //width: 88%;
  clear: both;
  padding: 20px;
  border-bottom:  2px solid $divider;
  margin: 0 auto;
  .item {
    margin-bottom: 20px;
    &:nth-child(n+4) {
      margin-bottom: 10px;
    }
    @include span(3);
    &:nth-child(3n-1) {
      @include span(5);
    }
    &:nth-child(3n) {
      @include span(4 last);
    }
  }
  .user_name {
    font-size: 23px;
    margin-bottom: 15px;
  }
  .info_user {
    padding-top: 25px;
  }
  .link_exit {
    text-align: center;
  }
  .links_avatar {
    clear: both;
  }
  .cash_count_list {
    padding-top: 15px;
    text-align: center;
    .cash_count {
      font-size: 68px;
    }
    .symbol {
      font-family: 'fontello';
      font-size: 33px;
      display: block;
      margin-bottom: 20px;
      margin-top: 10px;
      &.margin {
        margin-top: 15px;
      }
    }
    .cash_title {
      font-size: 16px;
      display: block;
      margin-bottom: 10px;
    }
  }
}
.training_name {
  clear: both;
  padding: 20px 0;
  text-align: center;
  border-bottom: 2px solid $divider;
  margin-bottom: 30px;
  input {
    border: 2px solid $divider;
    border-radius: 3px;
    padding: 5px;
    width: 150px;
    outline: none;
  }
  label {
    margin: 0 10px;
  }
  .filter_item {
    margin-bottom: 15px;
  }
  .select {
    border: 2px solid $divider;
    padding: 5px;
    background: $white;
    color: $content_color;
    outline: none;
    border-radius: 3px;

  }
}
.chardin_box {
  text-align: center;
  margin-top: 20px;
  ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
    li {
      display: inline;
      float: left;
      padding: 8px 16px;
      text-decoration: none;
      transition: background-color .3s;
      border: 1px solid $divider;
      border-radius: 3px;
      margin-right: 5px;
      &.active {
        background-color: $link_content;
        color: #fff;
        border: 1px solid $blue_opacity;
      }
      &:hover:not(.active) {background-color: #ddd;}
      &.previous,
      &.next {
        border: none;
      }
      &.disabled {
        color: $link_content;
      }
    }
  }
}
.no_active_subscriptions {
  margin-top: 30px;
}
.title {
  display: block;
  width: 88%;
  margin: 0 auto;
  padding-left: 5px;
  font-weight: 700;
}
.add_user {
  &.divider {
    border-top: 2px solid $divider;
    margin-top: 30px;
    padding-top: 5px;
  }

  .show_count {
    td:nth-child(4),
    td:nth-child(5) {
      display: none;
    }
  }
  .show_email {
    td:nth-child(2),
    td:nth-child(3) {
      display: none;
    }
  }
}
.show_wrapper {
  text-align: center;
  .show_link {
    &.show_history {
      margin-bottom: 25px;
    }
    &.show {
      margin-top: 30px;
      margin-bottom: 15px;
    }
    color: $link_content;
    display: inline-block;
    cursor: pointer;
    margin-bottom: 15px;
    &:hover {
      color: $content_color;
    }
  }
}

.subscription_wrapper {
  .no_border {
    border-bottom: none !important;
    margin-bottom: 0 !important;
  }
  .user_name {
    text-align: center;
    display: block;
    margin-bottom: 20px;
    font-weight: 700;
  }
  .order {

  }
  .history_subscription {
    padding-bottom: 15px;
    border-bottom: 2px solid $divider;
    margin-bottom: 33px;
    &.toggle{
      display: none;
    }
    .warning {
      margin-bottom: 12px;
      color: $error;
    }

    .sub_info {
      margin-top: 15px;
      margin-bottom: 25px;
      span {
        padding: 5px;
        border: 2px solid $divider;
        margin-right: 10px;
        border-radius: 3px;
      }
    }
    .message {
      ul {
        margin-left: 15px;
      }
    }
  }
  .select-tariff {
    text-align: center;
    a {
      display: inline-block;
      margin-right: 15px;
      &:nth-last-child(1) {
        margin-right: 0;
      }
      &.active {
        border-bottom: 2px solid $divider;
        border-top: 2px solid $divider;
        padding: 5px 0;
        color: $link_content;
      }
    }
  }
  .price {
    border-bottom: 2px solid $divider;
    padding-bottom: 20px;
    margin-bottom: 30px;
    .price_container {
      width: 500px;
      margin: 0 auto;
    }
  }
  .wrapper_form {
    .answer {
      color: $error;
      font-weight: 700;
      margin-bottom: 16px;
    }
    .message {
      ul {
        margin-left: 15px;
        margin-top: 20px;
      }
    }
    .order {
      border-bottom: 2px solid;
      padding-bottom: 20px;
    }
    .user_age {
      margin-bottom: 20px;
      input {
        border: 2px solid lighten($link_content, 30%);
        border-radius: 3px;
        padding: 5px;
        outline: none;
        width: 150px;
      }
    }
    .date_picker {
      border: 2px solid lighten($link_content, 30%);
      border-radius: 3px;
      padding: 5px;
      width: 150px;
      outline: none;
    }
    .datepicker_field {
      text-align: center;
      padding-top: 30px;
      clear: both;
    }
    label {
      margin: 0 10px;
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    ul li {
      display: block;
      position: relative;
      float: left;
      width: 100%;
      height: 40px;
      padding-left: 4%;
      //border-bottom: 1px solid $divider;
    }

    ul li label {
      font-weight: 300;
      display: inline-block;
      height: 30px;
      cursor: pointer;
      -webkit-transition: all 0.25s linear;
    }

    ul li:hover label {
      color: lighten($link_content, 10%);
    }

    input[type=radio]:checked ~ label {
      color: $link_content;
    }
    input[type="submit"] {
      font-size: 16px;
      padding: 10px;
      background-color: $white;
      cursor: pointer;
      display: block;
      text-decoration: none;
      text-transform: uppercase;
      margin: 0 auto;
      color: $link_content;
      -webkit-appearance: none;
      position: relative;
      overflow: hidden;
      outline: none;
      border: 3px solid $link_content;
      border-radius: 4px;
      margin-top: 30px;
      margin-bottom: 15px;
    }

    @keyframes click-wave {
      0% {
        height: 30px;
        width: 30px;
        opacity: 0.35;
        position: relative;
      }
      100% {
        height: 150px;
        width: 150px;
        margin-left: -60px;
        margin-top: -60px;
        opacity: 0;
      }
    }

    .option-input {
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      -o-appearance: none;
      appearance: none;
      position: relative;
      top: 8.33333px;
      right: 0;
      bottom: 0;
      left: 0;
      height: 30px;
      width: 30px;
      -webkit-transition: all 0.15s ease-out 0s;
      transition: all 0.15s ease-out 0s;
      background: $divider;
      border: none;
      color: #fff;
      cursor: pointer;
      display: inline-block;
      margin-right: 0.5rem;
      outline: none;
      position: relative;
      z-index: 1000;
    }

    .option-input:hover {
      background: lighten($link_content, 10%);
    }
    .option-input:checked {
      background: $link_content;
    }
    .option-input:checked::before {
      font-family: 'fontello';
      height: 30px;
      width: 30px;
      position: absolute;
      content: '\e830';
      display: inline-block;
      font-size: 14px;
      text-align: center;
      line-height: 32px;
      color: white;
    }
    .option-input:checked::after {
      -webkit-animation: click-wave 0.65s;
      -moz-animation: click-wave 0.65s;
      animation: click-wave 0.65s;
      background: $link_content;
      content: '';
      display: block;
      position: relative;
      z-index: 100;
    }
    .option-input.radio {
      border-radius: 50%;
    }
    .option-input.radio::after {
      border-radius: 50%;
    }

    body label {
      display: block;
      line-height: 40px;
    }

  }
}
.auto_registration {
  margin-bottom: 20px;
  margin-top: 40px;
  padding-top: 20px;
  border-top: 2px solid $divider;
}
.filter_box {
  text-align: right;

  label {
    padding-right: 10px;
  }
}
#change_tariff {
  margin-bottom: 41px;
  label {
    margin-right: 15px;
  }
}
#publication_category,
#user_cash_sort_id {
  border: 2px solid rgba(96, 137, 213, 0.2);
  padding: 5px;
  background: $white;
  outline: none;
  margin-right: 6%;
  border-radius: 3px;
  color: $content_color;
}

//Преподавательская часть
.table_name {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  color: $link_content;
  margin-top: 30px;
}
.teacher_back {
  text-align: center;
}
.no_registration_wrapper {
  font-family: 'fontello';
  font-size: 32px;
  margin-top: 25px;
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 2px solid $divider;
  text-align: center;
  span {
    font-family: 'Comfortaa', cursive;
    &.no_registration {
      margin: 0 20px;
    }
    &.title {
      font-size: 24px;
      margin-right: 46px;
    }
  }
}
.search_form {
  text-align: center;
  margin-bottom: 15px;
  #filterrific_search_query {
    margin: 0 10px;
    border: 2px solid lighten( $link_content, 30% );
    border-radius: 3px;
    padding: 5px;
    outline: none;
  }
}
.ready_user {
  td:nth-child(1) {
    text-align: left;
  }
}
.users_list {
  span.place_current {
    font-size: 19px;
    font-weight: 700;
    margin-bottom: 15px;
    display: block;
    text-align: center;
  }
}
.family_link {
  display: block;
  text-align: center;
  margin-bottom: 15px;
}
.write_user {
  td {
    img {
      width: 130px;
    }
  }
}
.ready_user, .write_user {
  .symbol {
    font-family: 'fontello';
  }
}
.info_wrapper, .teacher_avatar {
  float: left;
}
.info_wrapper {
  margin-left: 15px;
}
.teacher_avatar {
  width: 200px;
}
.clear_both {
  clear: both;
}

.teacher_nav {
  width: 100%;
  text-align: center;
  margin-bottom: 18px;
  a {
    margin-right: 15px;
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid $link_content;
    color:  $link_content;
    &:hover {
      border-color: #a7afb7;
    }
  }
}
.reg_user {
  width: 300px;
  margin: 0 auto;
  margin-bottom: 50px;
  label {
    display: block;
    margin-bottom: 5px;
  }
  input {
    margin-bottom: 10px;
    border: 2px solid $divider;
    border-radius: 3px;
    padding: 5px;
    outline: none;
    background: $white;
    width: 100%;
  }
  .actions {
    input {
      border-color: $link_content;
      color: $link_content;
      font-size: 18px;
      width: 80%;
      display: block;
      margin: 0 auto;
      margin-top: 20px;
    }
  }
}
.reg_user_phone {
  #phone,
  input[type="submit"] {
    border: 2px solid rgba(96, 137, 213, 0.2);
    padding: 5px;
    background: white;
    outline: none;
    margin-right: 6%;
    border-radius: 3px;
    color: #4f6e8c;

  }
  #phone {
    width: 111px;
  }
  input[type="submit"] {
    margin-top: 15px;
    width: 111px;
  }
  .errors {
    list-style-type: none;
    margin-left: 0;
    padding: 0;
    margin: 0 0 5px 0;
  }
}
.reg_user_avatar {
  input[type='file'] {
    width: 120px;
    padding: 5px 0;
  }
}

//statistics
.statistics_wrapper {
  h2 {
    text-align: center;
  }
  table {
    font-family: 'Open Sans', sans-serif;
    border-collapse: collapse;
    span {
      display: block;
    }
    td,
    th {
      border: 1px solid;
      padding: 5px;
    }
  }
}
.teacher_lesson {
  th {
    color: $link_content;
  }
}
// Datepiker
.ui-widget-header, .ui-widget-content .ui-state-default {
  background: $divider;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight {
  border: 1px solid #dad55e/*{borderColorHighlight}*/;
  background: #fffa90/*{bgColorHighlight}*/ /*{bgImgUrlHighlight}*/ /*{bgHighlightXPos}*/ /*{bgHighlightYPos}*/ /*{bgHighlightRepeat}*/;
  color: #777620/*{fcHighlight}*/;
}
.ui-state-active, .ui-widget-content .ui-state-active {
  border: 1px solid #003eff/*{borderColorActive}*/;
  background: #007fff/*{bgColorActive}*/ /*{bgImgUrlActive}*/ /*{bgActiveXPos}*/ /*{bgActiveYPos}*/ /*{bgActiveRepeat}*/;
  font-weight: normal/*{fwDefault}*/;
  color: #ffffff/*{fcActive}*/;
}

@include susy-breakpoint(900px, 12) {
  .person_wrapper {
    @include container(900px);
    margin-top: 30px;
  }
  .avatar_wrapper {
    .img_box {
      &.img_teacher {
        width: 130px;
      }
    }
  }
  .message_wrapper {
    width: 96%;
    margin: 0 auto;
    margin-top: 20px;
  }

}
@include susy-breakpoint(max-width 899px, 12) {
  .person_wrapper {
    @include container(100%);
    padding: 7px 20px 20px;
    border: none;
    box-shadow: none;
  }
  header {
    .header_inner {

    }
    h2 {
      margin-right: 20px;
    }
  }
  .avatar_wrapper {
    .img_box {
      width: 80%;
    }
  }
  .data_user_list .info_user {
    padding-top: 13px;
  }
  .data_user_list .cash_count_list .cash_count {
    font-size: 56px;
  }
  .time_teacher,
  .write_table,
  .history_list,
  .ready_user,
  .write_user,
  .subscription,
  .active_user,
  .cache_family {
    width: 100%;
  }
  .filter_box #publication_category {
    margin-right: 0;
  }
  body {
    background: $white;

  }
  .no_active_subscriptions {

  }
  .title {
    width: 100%;
  }
}
@include susy-breakpoint(720px, 6) {
  .avatar_wrapper {
    max-height: 300px;
  }
}
@include susy-breakpoint(min-width 720px, max-width 740px, 6) {
  .avatar_wrapper .label_file {
    font-size: 15px;
  }
}
@include susy-breakpoint(max-width 720px, 6) {
  .pre-loader.avatar {
    margin-left: 0;
  }
  .main_menu li {
    width: 100%;
  }
  .data_user_list {
    text-align: center;
    .item {
      @include span(6);
      &:nth-child(2) {
        @include span(3);
      }
      &:nth-child(3) {
        @include span(3 last);
      }
      &:nth-child(n+4) {
        @include span(6);
      }
    }
  }
  .avatar_wrapper {
    text-align: center;
    .img_box {
      width: 50%;
      margin: 0 auto;
      border: 4px solid $divider;
      background-color: $divider;
    }
  }
}
@include susy-breakpoint(max-width 600px, 6) {
  body {
    margin: 0;
    padding: 0;
  }
  .person_wrapper {
    padding: 25px 20px 20px 20px;

  }
  header {
    text-align: center;
    .header_inner {
      width: 273px;
      margin: 0 auto;
      float: none;
      overflow: hidden;
    }
    h2 {
      display: inline-block;
      margin-right: 0;
      margin-top: 0;
      float: none;
      font-size: 29px;
    }
  }
  .time_teacher, .write_table {
    td:not(.not):nth-last-child(1) {
      position: absolute;
      left: 0;
      width: 100%;
      -moz-opacity: 0;
      filter: alpha(opacity=0);
      opacity: 0;
      padding: 0;
      a {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
      }
    }

  }
  .entry_lesson, .time_teacher {
    position: relative;
  }
  .history_list {
    td:nth-child(1),
    td:nth-child(2),
    td:nth-child(6) {
      display: none;
    }
  }
  //.main_menu a {
  //  text-transform: none;
  //}
  .subscription_wrapper {
    .history_subscription {
      .sub_info {
        margin-top: 0;
        span {
          display: inline-block;
          margin-top: 10px;
        }
        a {
          display: inline-block;
          margin-top: 10px;
        }
      }
    }
    .price {
      .price_container {
        width: 450px;
      }
    }
  }

}
@include susy-breakpoint(max-width 500px, 6) {
  .subscription_wrapper {
    .price {
      .price_container {
        width: auto;
      }
    }
    .wrapper_form .user_age {
      text-align: center;
      input {
        margin-top: 15px;
      }
    }
  }
  .training_name label {
    display: block;
    margin: 10px;
  }

}
@include susy-breakpoint(max-width 380px, 6) {
  .person_wrapper {
    padding: 12px 5px 20px 5px;
  }
}
@include susy-breakpoint(max-width 350px, 6) {
  .subscription_wrapper .wrapper_form ul li  {
    padding-left: 0;
    label {
      font-size: 14px;
    }
  }

}