tr data-id="#{@user[:id]}"
  td = image_tag @user.avatar.url(:minimal)
  td   #{@user.last_name} #{@user.first_name}
  td = link_to 'Удалить', remove_user_family_family_cash_path(@cash, @user), remote: true