@font-face {
  font-family: 'fontello';
  src: asset-url('fontello.eot?87347184');
  src: asset-url('fontello.eot?87347184#iefix') format('embedded-opentype'),
  asset-url('fontello.woff2?87347184') format('woff2'),
  asset-url('fontello.woff?87347184') format('woff'),
  asset-url('fontello.ttf?87347184') format('truetype'),
  asset-url('fontello.svg?87347184#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
