<p>Здравствуйте <%= @resource.email %>!</p>

<p>Если вы забыли пароль, то можете изменить его при помощи ссылки.</p>

<p><%= link_to 'Изменить пароль', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Если вы не делали запрос на смену пароля, то игнорируйте данное письмо.</p>


